@import "imports";

.about {
	&:after {
		z-index: -1 !important;
	}

	.container {
		padding: 30px 15px;
		display: grid;
		grid-template-areas: "title" "text";
		justify-items: center;
		grid-gap: 15px;

		@include tablet {
			padding: 50px 30px;
		}

		@include laptop {
			padding: 80px 50px 30px 50px;
			grid-template-areas:
				"title title"
				"pic 	 text";
			grid-gap: 15px 30px;
		}

		@include desktop {
			grid-gap: 30px;
		}

		.title {
			grid-area: title;
			text-align: center;
		}

		.text {
			grid-area: text;
			z-index: 999;
			padding-top: 15px;

			.signature {
				font-family: "Homemade Apple", cursive;
				font-style: italic;
				font-weight: 300;
				font-size: 29px;
				text-shadow: none;
				text-align-last: right;
				margin-right: 5vw;

				@include laptop {
					padding-top: 30px;
					margin-bottom: -20px;
				}
			}
		}

		.pic {
			grid-area: text;
			width: 90vw;
			height: 120vw;
			margin: auto;
			clip-path: polygon(0 0%, 100% 13%, 83% 89%, 17% 100%);
			background: grey;
			background: url("https://imgpile.com/images/ItvXFr.jpg");
			background-position: 70% 50%;
			background-size: cover;
			background-repeat: no-repeat;

			filter: blur(1px) opacity(40%);

			@include tablet {
				width: 60vw;
				height: 50vw;
			}

			@include laptop {
				// background: url("https://imgpile.com/images/IxrDBi.jpg");
				// background-position: 70% 50%;
				background: url("https://imgpile.com/images/5hn73X.jpg");
				background-position: 50% 0%;
				background-size: cover;
				grid-area: pic;
				filter: none;
				width: 30vw;
				height: 50vw;
			}

			@include desktop {
				width: 350px;
				height: 580px;
			}
		}
	}
}
