@import "abstracts";

/* Contents:
	* Section
		* Title
		* Container
		* Section theme
	* Button
	* Slogan 
*/

// ---------------------- Section ---------------------

section {
	position: relative;

	.title {
		position: relative;
		font-style: italic;
		text-transform: uppercase;

		.word {
			display: inline;
		}
		.superscript {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.container {
		display: grid;
		justify-items: center;

		@include desktop {
			width: $desktop;
			margin: auto;
		}
	}
}

.base-theme {
	.superscript {
		color: color(grey-dark);
	}
	// background spanning between window edges and into neighbouring sections, remaining underneath the tilted backgrounds of .inverse-theme
	&:after {
		content: "";
		position: absolute;
		z-index: -2;
		display: block;
		width: 100%;
		height: 200%;
		top: -50%;
		background: color(white);
	}
}

.inverse-theme {
	position: relative;
	background: transparent;
	color: color(white);

	.superscript {
		color: color(grey-light);
	}

	// tilted background; overlayed elements not clipped
	&:after {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 300%;
		height: 200%;
		transform-origin: 50% 0;
		transform: translateX(-33.3%) rotate(14deg);
		background: color(black);

		@include tablet {
			transform: translateX(-33.3%) rotate(8deg);
		}
	}
}

// ---------------------- Button ---------------------

.action {
	justify-self: center;

	a,
	&[type="submit"] {
		font-weight: 1000;
		text-transform: uppercase;
		font-size: 24px;
		padding: 0 6px;
	}
}

// ---------------------- Slogan ----------------------

.slogan {
	// client-side vars
	--slogan-h1: 58px;
	--slogan-h2: 32px;
	--padding-h1: 0 8px 6px 8px;
	--padding-h2: 0 4px 3px 4px;

	@include tablet {
		--slogan-h1: 58px;
		--padding-h1: 0 8px 6px 8px;
		--slogan-h2: var(--slogan-h1);
		--padding-h2: var(--padding-h1);
	}

	@include desktop {
		--slogan-h1: 76px;
		--padding-h1: 0 12px 8px 12px;
	}

	h1,
	h2 {
		display: inline-block;
		white-space: nowrap;
		font-weight: 1000;
		text-transform: uppercase;
		font-style: normal;
		box-shadow: 0 0 10px black;
		margin-bottom: 10px;
	}

	h1 {
		font-size: var(--slogan-h1);
		line-height: var(--slogan-h1);
		padding: var(--padding-h1);
	}

	h2 {
		font-size: var(--slogan-h2);
		line-height: var(--slogan-h2);
		padding: var(--padding-h2);
	}

	.no-bg {
		background-color: transparent;
		box-shadow: none;
		text-shadow: 0 0 10px black;
	}
}
