@import "abstracts";

.main-header {
	z-index: 9999;
	position: fixed;
	width: 100%; // vw bugs out
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
	background-color: transparent;
	color: color(white);
	transition: background-color 400ms ease-in-out;

	@include tablet {
		padding: 14px;
	}
	@include desktop {
		padding: 18px;
	}

	.title {
		font-size: 24px;
		line-height: 24px;
		font-weight: 600;

		.subtitle {
			font-size: 18px;
			font-style: italic;
			font-weight: 300;

			@include mobile {
				display: block;
			}
		}
	}

	.nav-toggle {
		@include tablet {
			display: none;
		}
		&:focus {
			outline: none;
		}
		&:active {
			transform: scale(1.1);
		}
	}

	// if window.scrollY > 0;
	&.detached {
		background-color: color(black);
	}
}

nav {
	@include mobile {
		display: none;
	}

	ul {
		display: flex;
		justify-content: space-between;

		li {
			font-size: 19px;
			font-weight: 300;
			margin-right: 2vw;

			@include desktop {
				font-size: 24px;
				margin-right: 65px;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}
}

// ----- full-screen view -----

html.expanded {
	overflow: hidden;

	.main-header {
		transition: none;
		background-color: color(black);
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-rows: auto 1fr;
		align-items: stretch;
		justify-items: stretch;

		nav {
			display: initial;
			grid-column: 1 / -1;

			ul {
				height: 100%;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;

				li {
					flex: 1 1 0;
					font-size: 48px;
					max-height: 100px;
				}
			}
		}
	}
}
