@import "abstracts";

.landing {
	.bg {
		height: 70vh;
		background: rgb(36, 36, 36) $image-landing;
		background-size: auto 100%;
		background-position: 65% 0;
		background-repeat: no-repeat;
		margin-bottom: -150px;

		@include tablet {
			background-size: auto 70%; // de facto 100%; dunno why...
			background-attachment: fixed;
			height: 100vh;
			background-size: cover;
			background-position: 65% 25%;
			margin-bottom: 0;
		}
		// blend into the image above
		&::before {
			box-sizing: border-box;
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 150px;
			bottom: 85px; // de facto 0; no idea why...
			background: linear-gradient(rgba(0, 0, 0, 0), color(black));
			z-index: 0;

			@include tablet {
				bottom: 0;
			}
		}
	}

	.hero {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		align-items: flex-start;
		left: 20px;

		@include tablet {
			position: absolute;
			left: 3vh;
			bottom: 15vh;
		}

		@include desktop {
			left: 10vh;
		}
	}
}
