@import "imports";

.programmes .container {
	padding: 50px 15px 60px 15px;
	text-align: center;
	grid-gap: 80px;

	@include tablet {
		padding: 100px 50px 80px 50px;
	}

	.section-title {
		@include tablet {
			transform: translateX(20%);
		}
		@include desktop {
			transform: translateX(40%);
		}
	}
}

.programme {
	position: relative;
	display: grid;
	grid-gap: 50px;
	grid-template-areas: "pic" "text";
	justify-items: center;

	@include tablet {
		grid-template-areas: "pic text";
		grid-template-columns: 45fr 55fr;

		&:nth-child(odd) {
			grid-template-areas: "text pic";
			grid-template-columns: 55fr 45fr;
		}
	}

	@include desktop {
		grid-gap: 80px;
	}

	.pic {
		grid-area: pic;
		background: #000;
		box-shadow: 0 0 10px #000;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.text {
		grid-area: text;
		display: grid;
		align-content: center;
		justify-items: center;
		grid-gap: 5px;

		@include laptop {
			padding: 50px 0;
			grid-gap: 30px;
		}

		button {
			margin-top: 15px;
			justify-self: right;
			transform: translateX(-20%);
		}
	}
}
