$image-landing: url("https://images.unsplash.com/photo-1574680096145-d05b474e2155?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");

$image-consultation: url("https://images.pexels.com/photos/196640/pexels-photo-196640.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");

$image-contact: url("https://images.unsplash.com/photo-1574680178050-55c6a6a96e0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");

$image-profile1: url("https://imgpile.com/images/IxrDBi.jpg");

$image-profile2: url("https://imgpile.com/images/Ixrtuu.jpg");

$image-selfie: url("https://imgpile.com/images/ItvXFr.jpg");

// https://imgpile.com/i/wG6Bxu
// https://imgpile.com/i/wG6Wni
// https://imgpile.com/i/wG6Fok
