@import "vars.scss";

.contact {
	width: 100%;
	overflow: hidden;
	display: grid;
	padding: 50px 0 30px 0;

	@include tablet {
		background-attachment: fixed;
		padding: 60px 0;
		grid-gap: 60px;
	}

	@include desktop {
		padding: 100px 0 60px 0;
	}

	// lower fixed bg
	background: #50312a $image-contact;
	background-size: cover;
	background-position: 0 0;

	// tilted upper bg
	&:after {
		z-index: 0;
		top: -100%;
		height: 100%;
		transform-origin: 50% 100%;
		transform: translate(-33.3%, 30%) rotate(14deg);

		@include tablet {
			transform: translate(-33.3%, 28%) rotate(8deg);
		}
	}

	.container {
		padding: 0 30px 0 30px;
		grid-gap: 50px;

		@include tablet {
			grid-gap: 50px;
		}

		@include desktop {
			// padding: 0 50px 0 50px;
		}
	}
}

// ---------------- header ---------------

.contact-header {
	z-index: 10;
	width: 100%;

	display: grid;
	grid-gap: 50px;

	@include laptop {
		grid-template-columns: auto 1fr;
		grid-gap: 0;
	}

	.social {
		display: grid;
		grid-template-columns: auto auto auto;
		justify-content: center;
		grid-gap: 15px;

		@include laptop {
			grid-row: 1 span 2;
			align-content: center;
		}

		.icon {
			width: 50px;
			height: 50px;
			border-radius: 100px;
			border: 5px solid white;
			background: #000;
			display: grid;
			justify-content: center;
			align-content: center;
			font-size: 21px;
			font-weight: bolder;
			padding-bottom: 4px; // temp

			@include tablet {
				width: 60px;
				height: 60px;
				font-size: 28px;
				padding-bottom: 5px; // temp
			}

			@include laptop {
				width: 70px;
				height: 70px;
				font-size: 36px;
				padding-bottom: 8px; // temp
			}
		}
	}
	.slogan {
		display: grid;

		h2:first-child {
			justify-self: center;
		}
		h2:last-child {
			justify-self: right;
		}
	}
}
// ---------------- form ---------------

.contact-form {
	z-index: 0;
	width: 100%;

	form {
		width: 100%;
		display: grid;
		grid-gap: 5px;

		@include laptop {
			grid-gap: 25px;
			padding: 0 5vw;
		}

		input,
		textarea {
			padding: 10px;
			border: 2px solid white;
			background: rgba(0, 0, 0, 0.65);
			color: color(white);
			text-shadow: 0 2px 2px black;

			&::placeholder {
				color: color(grey-light);
			}
		}

		input {
			@include laptop {
				width: 50%;
			}
		}
		button {
			padding: 4px 10px !important;
			margin-top: 30px;
		}
	}
}
